---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer>
  <Container>
    <div class="flex flex-col justify-center">
      <script>
        console.log("Footer loaded");
      </script>
      <div class="ml-embedded" data-form="rTLnhg"></div>
      <br />
      <div style="align-self: center">
        &copy; {(new Date().getFullYear())} {`|`} {SITE.NAME}
      </div>
    </div>
  </Container>
</footer>
