---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer>
  <Container>
    <div class="flex justify-center items-center">
      <div>
        &copy; {(new Date().getFullYear())} {`|`} {SITE.NAME}
      </div>
    </div>
  </Container>
</footer>
